* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* styling for topnav bar  */

#topnav {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 10.5px;
    font-weight: 700;
    vertical-align: top;
    text-align: center;
    margin-left: 12px;
}

#topnav>div:nth-child(3) {
    margin-right: 20px;
}

.txt {
    text-decoration: none;
    display: flex;
}


/* styling for changing color in to pink in three navbars */

.fixcolour {
    color: rgb(252, 100, 145);
    margin-left: 10px;
}


/* styling for fabelly image in topnav */

.fi {
    width: 100px;
    padding-top: -5px;
    /* background-color: black; */
}


/* styling for indiya image in topnav */

.in {
    width: 35px;
}

hr {
    margin-top: -10px;
}


/* styling sor fabelly and indiya in topnav */

#logo {
    display: flex;
    gap: 10px;
    height: auto;
    padding-bottom: 10px;
}


/* styling for midnav */

#midnav {
    display: flex;
    padding-top: 15px;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
}

#midnav>div~div {
    display: flex;
    font-size: 12px;
    font-weight: 300px;
    align-items: center;
    text-align: center;
}


/* styling for Fabelly image in midnav */

.fb {
    width: 190px;
    margin-left: 15px;
}


/* styling for span elements in midnav */

#list {
    margin-left: 20px;
    padding-top: 8px;
    gap: 0.5px;
}

.link {
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding: 0px;
    font-size: 12px;
}

.dropdown {
    position: relative;
}

.dropdownMenu {
    position: absolute;
    left: 0;
    top: calc(100% + .25rem);
    background-color: #fff;
    padding: .75rem;
    border-radius: .25rem;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown>.link:hover+.dropdownMenu {
    opacity: 1;
    transform: translateY(0);
}

.info-grid {
    display: flex;
    justify-content: space-between;
    gap: 50%;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-right: 100px;
}

.dropdown-links {
    padding: 20px;
}

.dimg {
    padding-top: 50px;
}


/* styling for seacrh icon */

.sicon i {
    font-size: 17px;
    margin-left: 100px;
}

.sicon {
    padding-right: -100px;
}


/* styling for selct tags */

.select {
    padding: 3px;
    margin-right: 15px;
}


/* styling for bottom nav */

#btnav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-family: 'Poppins', sans-serif;
    background-color: #fee8e4;
    text-align: center;
    margin-top: -5px;
}

#btnav div {
    padding: 5px;
}

.bgc2 {
    background-color: #f8c9c8;
    padding: 5px;
}


/* .bgc2 {
    background-color: #f7c8c7;
    padding: 7px;
} */